/*  your css code here. If applicable */
/* nav {
	background-color: #D3D3D3;
	padding: 10px;
} */

.container {
  background-color: #D3D3D3;
  padding: 10px;
}

nav li {
	display: inline;
	margin-right: 1rem;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}